body{
  font-family: "Montserrat";
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 1.5;
}


.container-fluid{
  padding: 1% 5% 3%;
}

#title{
  background-color: #ff4c68;
    color: white;
    color: #ff4c68;
}

/* Navbar */
.nav-brand{
  font-family: "Ubuntu";
  color: #ff4c68;
}

.nav-item{
  padding: 0 18px;
  color: #ff4c68;
}
.nav-link{
  font-size: 1.2rem;
  color: #ff4c68;
}



 /* Second Section */

 #about{
   padding: 7% 10%;
   background-color: white;
   position: relative;
 }



/* footer region */

#type{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}



/* Footer-end */

#footer {
  text-align: center;
  margin: 3% 0;
}
.foot-anchor{
  color: black;
  margin: 1%;
  line-height: 2;
  align-items: center;
}


