* {
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 240, 245);
  color: black;
  font-size: 18px;
  padding: 0;
  margin: 10px;
}

a {
  text-decoration: none;
  color: rgb(109, 0, 0);
  font-weight: 600;
}

ul {
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

ul li:hover {
  background: rgba(185, 0, 0, 0.8);
  color: rgb(0, 0, 0);
}

ul li:hover a {
  color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-size: 1.8em;
  color: rgb(66, 0, 0);
  background-color: white;
  padding: 10px 0;
}

p {
  margin: 20px;
}

img {
  text-align: center;
  margin: auto;
}
